body, html{
  height:100%;
}
body{
  margin: 0px;
  padding: 0px 50px 50px 50px;
  background-image: url('dancefloor.jpg');
  background-color:#444;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  z-index: 100;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 100;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;
  border-radius:10px;*/
  position:absolute;
}

.followDancer{
  /*border:10px solid rgb(255, 0, 234);
  border-radius:10px;*/
  position:absolute;
  z-index: 1;
}

.bounceDancer {
  /*border:10px solid rgb(238, 255, 0);
  border-radius:10px;*/
  position:absolute;
  -webkit-animation-name: bounce;
  animation-name: bounce;

}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.dancerImg {
  width: 100px;
  height: auto;
}
